<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="off"
      throwException ="off">

	<variable name="logDirectory" value="${specialfolder:folder=MyDocuments}/DLUTToolBoxV3/EDALoginModuleLog/"/>
	<!-- the targets to write to -->
	<targets async="true">
		<!-- write logs to file  -->
		<target xsi:type="File" name="allfile" fileName="${logDirectory}/Log-DLUTToolBoxV3-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}${all-event-properties:separator=|} ${onexception:${newline}EXCEPTION\: ${exception:format=ToString,Properties,Data}}"
				archiveFileName="${LogHome}/Archive/${shortdate}.txt"
				concurrentWrites="false"
                keepFileOpen="true"	
				maxArchiveDays="3"/>
	</targets>


	<!-- rules to map from logger name to target -->
	<rules>
		<!--TRACE,DEBUG,INFO,WARN,ERROR,FATAL警告级别控制-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />
	</rules>
</nlog>